.filmes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 65px;
}
.filme {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filme:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.filme-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.filme-info {
  padding: 10px;
}

.filme-info h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.filme-info p {
  margin: 5px 0 0;
  color: #666;
  font-size: 0.9em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
